/* Breakpoint
lg 	> 1100-*
md 	> 701-1100
s 	> 601-700
xs 	> 0-600 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.bar {
    width: 100%;
    height: 100px;
}

.fa-solid {
    font-size: 25px;
}

.white-clr{
    color: white;
}

/* Upgrade bar */

.top.bar {
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    opacity: 0.8;
}
.upgrade {
    margin: 0 10px;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: bold;
}

/* Main  aside menu utente */


/* Main pagina principale con suggerimenti */


/* Riproduzione musica */

.bottom.bar {
    align-items: center;
    justify-content: space-between;
    background-color: rgb(36, 36, 36)
}

